<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
    <property name="hibernate.connection.username">sistemaPanol</property>
    <property name="hibernate.connection.password">sosoft</property>
    <mapping resource="Entidad/Encasoli.hbm.xml"/>
    <mapping resource="Entidad/Stock.hbm.xml"/>
    <mapping resource="Entidad/Encadevol.hbm.xml"/>
    <mapping resource="Entidad/Detasoli.hbm.xml"/>
    <mapping resource="Entidad/Encapres.hbm.xml"/>
    <mapping resource="Entidad/Carrera.hbm.xml"/>
    <mapping resource="Entidad/Detadevol.hbm.xml"/>
    <mapping resource="Entidad/Sede.hbm.xml"/>
    <mapping resource="Entidad/Tipousuario.hbm.xml"/>
    <mapping resource="Entidad/Categoria.hbm.xml"/>
    <mapping resource="Entidad/Usuario.hbm.xml"/>
    <mapping resource="Entidad/Producto.hbm.xml"/>
    <mapping resource="Entidad/Detapres.hbm.xml"/>
    <mapping resource="Entidad/Login.hbm.xml"/>
    <mapping resource="Entidad/Escuela.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
